<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <bean name="vdNode1" class="com.xh.vdcluster.vdmanager.beans.VdNode">
        <property name="ipAddress" value="${node1.thrift.remoteHost}"/>
        <property name="port" value="${node1.thrift.remotePort}"/>
    </bean>

    <bean id="vdServantManager" class="com.xh.vdcluster.vdmanager.VdServantManager">
        <property name="nodeList">
            <list>
                <ref bean="vdNode1"/>
            </list>
        </property>
    </bean>

    <bean id="messageAdapter" class="com.xh.vdcluster.message.rabbitmq.MessageAdapter">
        <property name="hostName" value="${hostname}"/>
        <property name="password" value="${password}"/>
        <property name="port" value="${port}"/>
        <property name="userName" value="${username}"/>
        <property name="virtualHost" value="${virtualhost}"/>
    </bean>

    <bean id="reportService" class="com.xh.vdcluster.service.impl.ReportServiceImpl"/>

    <bean id="detectServiceOutAdapter" class="com.xh.vdcluster.rpc.ReportServiceAdapter">
        <constructor-arg name="serverPort" value="${thrift.localPort}"/>
        <constructor-arg name="service" ref="reportService"/>
    </bean>

    <bean id="vdServant" class="com.xh.vdcluster.vdmanager.VdManager" init-method="init">

    </bean>
</beans>