<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:config/config.properties</value>
        </property>
    </bean>

    <import resource="classpath*:/beans/mybatis-beans.xml"/>
    <import resource="classpath*:/beans/spring-beans.xml"/>

    <context:annotation-config/>

    <mvc:annotation-driven content-negotiation-manager="contentManager"/>


    <context:component-scan base-package="com.xh.vdcluster.service.impl"/>

    <context:component-scan base-package="com.xh.vdcluster.controller"/>

    <bean id="contentManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="true"/>
        <property name="ignoreAcceptHeader" value="true"/>
        <property name="defaultContentType" value="application/json"/>
        <property name="useJaf" value="false"/>
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
                <entry key="html" value="text/html"/>
                <entry key="xml" value="application/xml"/>
            </map>
        </property>
    </bean>

    <mvc:resources location="/WEB-INF/resources/" mapping="/resources/**" cache-period="3600"/>

    <bean id="jspViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- JSON视图 -->
    <bean id="jackson2JsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <property name="contentType" value="application/json"/>
    </bean>
    <!-- XML视图 -->


    <!-- 配置内容协商视图解析 -->
    <bean id="contentNegotiatingViewResolver"
          class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <!-- 设置内容协商管理器 -->
        <property name="contentNegotiationManager" ref="contentManager"></property>

        <!-- 设置视图解析器 -->
        <property name="viewResolvers">
            <list>
                <ref bean="jspViewResolver"/>
            </list>
        </property>
    </bean>
</beans>